.leaflet-container {
    width: 80vw;
    height: 80vh;
    margin: auto;
    margin-top: 50px !important;
}

h1 {
    text-align: center;
    margin-top: 10px !important;
}

.leaflet-popup-content-wrapper {
    width: 500px;
}